apiVersion: v1
kind: Service
metadata:
  name: ingestion
  namespace: timeseries
spec:
  type: ClusterIP
  ports:
    - port: 8009
      targetPort: 8009
  selector:
    app: ingestion
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ingestion
  namespace: timeseries
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ingestion
  template:
    metadata:
      labels:
        app: ingestion
    spec:
      containers:
      - name: ingestion
        image: deployment_ingestion:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8009
        env:
        - name: DATABASE_URL
          value: "postgresql+psycopg2://tsuser:ts_password@ingestion-timescaledb:5432/timeseries"
        - name: KAFKA_BOOTSTRAP_SERVERS
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: KAFKA_BOOTSTRAP_SERVERS
        - name: KAFKA_OUTPUT_TOPIC
          value: "data.ingestion.completed"
        - name: KAFKA_ERR_TOPIC
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: KAFKA_ERR_TOPIC
        - name: PYTHONUNBUFFERED
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: PYTHONUNBUFFERED
        volumeMounts:
        - name: ingestion-data
          mountPath: /app/data
        - name: shared
          mountPath: /app/shared
        livenessProbe:
          httpGet:
            path: /health
            port: 8009
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8009
          initialDelaySeconds: 60
          periodSeconds: 30
      volumes:
      - name: ingestion-data
        persistentVolumeClaim:
          claimName: ingestion-data-pvc
        - name: shared
          configMap:
            name: anomaly-shared