apiVersion: v1
kind: Service
metadata:
  name: stats-service
  namespace: timeseries
spec:
  type: ClusterIP
  ports:
    - port: 8002
      targetPort: 8002
  selector:
    app: stats-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: stats-service
  namespace: timeseries
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stats-service
  template:
    metadata:
      labels:
        app: stats-service
    spec:
      containers:
      - name: stats-service
        image: deployment_stats_service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8002
        env:
        - name: DATABASE_URL
          value: "postgresql+psycopg2://tsuser:ts_password@processing-timescaledb:5432/timeseries"
        volumeMounts:
        - name: shared
          mountPath: /app/shared
      volumes:
      - name: shared
        emptyDir: {}
---